<!DOCTYPE html>
<html class="x-admin-sm" lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理-添加图书</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../../js/jquery/2.0.0/jquery.min.js"></script>
    <script src="../../js/bootstrap/3.3.6/bootstrap.min.js"></script>
</head>
<body style="background-color: white">
<div class="x-nav">
          <span class="layui-breadcrumb">
              <a href="#">首页</a>
              <a href="#">图书管理</a>
              <a href="#">所有图书管理</a>
              <a href="#" class="categoryClassName"></a>
              <a href="#">新增图书</a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div>
    <h2 style="font-family: 华文楷体;margin-left: 20px;margin-top: 10px">添加图书</h2>
</div>

<div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            图片url
        </label>
        <div class="layui-input-inline">
            <input type="text" hidden name="image" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            图书名
        </label>
        <div class="layui-input-inline">
            <input type="text" id="name" name="bookName" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            作者
        </label>
        <div class="layui-input-inline">
            <input type="text" name="author" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            价格
        </label>
        <div class="layui-input-inline">
            <input type="text" name="price" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            ISBN
        </label>
        <div class="layui-input-inline">
            <input type="text" name="isbn" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            出版社
        </label>
        <div class="layui-input-inline">
            <input type="text" name="publicSource" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            出版日期
        </label>
        <div class="layui-input-inline">
            <input type="text" name="date" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            评分
        </label>
        <div class="layui-input-inline">
            <input type="text" name="score" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            页数
        </label>
        <div class="layui-input-inline">
            <input type="text" name="pages" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            销量
        </label>
        <div class="layui-input-inline">
            <input type="text" name="saleNumber" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            库存
        </label>
        <div class="layui-input-inline">
            <input type="text" name="storeNumber" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            译者
        </label>
        <div class="layui-input-inline">
            <input type="text" name="translator" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            当前价格
        </label>
        <div class="layui-input-inline">
            <input type="text" name="currentPrice" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            目录
        </label>
        <div class="layui-input-inline">
            <input type="text" name="catalog" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            作者简介
        </label>
        <div class="layui-input-inline">
            <textarea type="text" name="authorIntroduction"
                      style="width: 200px;height: 60px;background-color: white"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            图书简介
        </label>
        <div class="layui-input-inline">
            <textarea type="text" name="bookInfo" style="width:200px;height: 60px;background-color: white"></textarea>
        </div>
    </div>
    <div class="layui-form-item bookCategoryClassFlag">
        <label class="layui-form-label">
            标签
        </label>
        <div class="layui-input-inline">
            <textarea type="text" name="label" style="width:200px;height: 60px;background-color: white"></textarea>
        </div>
    </div>
    <!-- 分类信息 -->

    <div class="layui-form-item">
        <button class="layui-btn" type="submit"  onclick="addBook()">
            添加
        </button>
        <button class="layui-btn"  onclick="goBack()">
            返回
        </button>
    </div>
</div>

</body>
<script>
    function goBack(){
        window.history.back();
    }

    let categoryClassId = parseInt(new URLSearchParams(window.location.search).get('categoryClassId'));
    if (categoryClassId === undefined || categoryClassId === null) {
        categoryClassId = 0;
    }
    function addBook() {
        $.post('/admin/addBook',
            {
                image: $('input[name="image"]').val(),
                bookName: $('input[name="bookName"]').val(),
                author: $('input[name="author"]').val(),
                price: $('input[name="price"]').val(),
                isbn: $('input[name="isbn"]').val(),
                publicSource: $('input[name="publicSource"]').val(),
                date: $('input[name="date"]').val(),
                score: $('input[name="score"]').val(),
                pages: $('input[name="pages"]').val(),
                saleNumber: $('input[name="saleNumber"]').val(),
                storeNumber: $('input[name="storeNumber"]').val(),
                translator: $('input[name="translator"]').val(),
                currentPrice: $('input[name="currentPrice"]').val(),
                catalog: $('input[name="catalog"]').val(),
                authorIntroduction: $('textarea[name="authorIntroduction"]').val(),
                bookInfo: $('textarea[name="bookInfo"]').val(),
                label: $('textarea[name="label"]').val(),
                // 评价的人数
                numberOfPeople: 0,
                classId: categoryClassId === 0 ? $('select[name="classId"]').val() : categoryClassId,
            },function (result) {
                if (result.code === 0){
                    console.log(categoryClassId)
                    location.assign(`./bookList.html?categoryClassId=${categoryClassId}`);
                }else{
                    alert(result.message);
                }
            }
        )
    }

    $(function () {
        $.getJSON('/admin/getAllCategoryClasses',
            function (result) {
                if (result.code === 0){
                    let categoryClasses = result.data;
                    showAllCategoryClasses(categoryClasses);
                }else{
                    alert(result.message);
                }
            }
        )
    })

    function showAllCategoryClasses(categoryClasses) {
        // 导航栏分类名展示
        if(categoryClassId === 0){
            $('.categoryClassName').text('当前类别：所有图书');
        }else{
            for (let categoryClass of categoryClasses){
                if(categoryClass.id === categoryClassId){
                    $('.categoryClassName').text('当前类别：' + categoryClass.categoryClassname);
                    break;
                }
            }
        }

        if (categoryClassId === 0) {
            let bookInfoContainer = $('.bookCategoryClassFlag');
            let optionData = categoryClasses.map(categoryClass =>
                `<option value="${categoryClass.id}">${categoryClass.categoryClassname}</option>`).join('');
            let selectHtml = `
                <div>
                    <label class="layui-form-label">
                        选择所属一级分类
                    </label>
                    <div>
                        <select name="classId" style="height: 35px">
                            ${optionData}
                        </select>
                    </div>
                </div>
            `;
            bookInfoContainer.after(selectHtml);
        }
    }

</script>
</html>

