<!DOCTYPE html>
<html class="x-admin-sm" lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../../js/jquery/2.0.0/jquery.min.js"></script>
    <script src="../../js/bootstrap/3.3.6/bootstrap.min.js"></script>
</head>
<style>
    .layui-table th, .layui-table td {
        text-align: center;
    }
</style>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="#">首页</a>
                <a href="#">订单管理</a>
                <a href="#">订单列表</a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="keyword" placeholder="请输入查询词! (订单号 或 接收人 或 地址 或 电话号码)"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" type="submit" onclick="searchOrder()">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </div>
                </div>

                <div class="layui-card-body ">
                    <table class="layui-table layui-form" lay-data="{page:true,toolbar: '#toolbarDemo',id:'test'}"
                           lay-filter="test">
                        <thead>
                        <tr>
                            <th lay-data="{type:'checkbox'}">ID</th>
                            <th lay-data="{field:'id', width:80, sort: true}">ID</th>
                            <th lay-data="{field:'orderCode', width:120, sort: true}">订单号</th>
                            <th lay-data="{field:'total', width: 80}">订单金额</th>
                            <th lay-data="{field:'receiver', width:120}">收货人</th>
                            <th lay-data="{field:'address', width: 240}">收货地址</th>
                            <th lay-data="{field:'status',width: 100 }">订单状态</th>
                            <th lay-data="{field:'createDate',width: 110 }">创建时间</th>
                            <th lay-data="{field:'payDate'},width: 110">支付时间</th>
                            <th lay-data="{field:'deliveryDate',width: 110 }">发货时间</th>
                            <th lay-data="{field:'confirmDate',width: 110 }">确认收货时间</th>
                            <th lay-data="{field:'tool', width:80, templet: '#toolTpl'}">操作</th>
                        </tr>
                        </thead>
                        <tbody class="allOrders">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolTpl">
    {{# if(d.status === 'waitDelivery') { }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="deliver">发货</a>
    {{# } }}
</script>
<script>
    function searchOrder() {
        let keyword = $('input[name="keyword"]').val();
        if(keyword.length === 0 ){
            alert("请输入查询词! ");
        }else{
            $.getJSON(`/admin/searchOrders?keyword=${keyword}`,
                function (result) {
                    if (result.code === 0) {
                        let orderList = result.data;
                        console.log(keyword)
                        console.log(orderList)
                        // 重新渲染数据
                        layui.table.reload('test', {
                            data: orderList,
                        });
                    } else {
                        alert(result.message);
                    }
                }
            );
        }

    }

    $(function () {
        $.getJSON('/admin/orderList',
            function (result) {
                if (result.code === 0) {
                    let orderList = result.data;
                    showOrderList(orderList);
                    // 渲染数据
                    useLayUi();
                } else {
                    alert(result.message);
                }
            }
        );
    })

    function orderDelivery(orderId) {
        $.getJSON(`/admin/orderDelivery?orderId=${orderId}`,
            function (result) {
                if (result.code === 0) {
                    location.assign('./orderList.html');
                } else {
                    alert(result.message);
                }
            }
        )
    }

    function showOrderList(orderList) {
        let orderListContainer = $('.allOrders');
        $.each(orderList, function (index, order) {
            orderListContainer.append(`
                <tr>
                    <td lay-data="{type:'checkbox'}" value="${order.id}">${order.id}</td>
                    <td>${order.id}</td>
                    <td>${order.orderCode}</td>
                    <td>${order.total}</td>
                    <td>${order.receiver}</td>
                    <td>${order.address}</td>
                    <td>${order.status}</td>
                    <td>${order.createDate}</td>
                    <td>${order.payDate}</td>
                    <td>${order.deliveryDate}</td>
                    <td>${order.confirmDate}</td>
                </tr>
            `);
        });
    }
</script>
<script>
    function useLayUi() {
        // 使用 layui table组件
        layui.use('table', function () {
            let table = layui.table;
            // 监听表格中的工具条按钮点击事件
            table.on('tool(test)', function (obj) {
                let data = obj.data; // 获取当前行数据
                let event = obj.event; // 获取事件名
                if (event === 'deliver') {
                    // 编辑按钮点击事件
                    let orderId = data.id;
                    orderDelivery(orderId);
                }
            });
        });
    }
</script>

</html>